<%- include("../templates/encabezado")%>
<%- include("../templates/menu")%>
<div class="container mt-4">
    <form action="/guardarUsuario" method="post">
        <div class="card" style="background-color: rgb(6, 201, 28); border-radius: 40px;">
            <div class="card-header">
                <h1>Registrar usuario Manualmente</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control mb-3" type="text" name="password" id="password" placeholder="Password">
                <input class="form-control mb-3" type="hidden" name="points" id="points" value="0">
            </div>
            <div class="card-footer">
                <button class="form-control btn" style="background-color: green; color: white;" type="submit">Guardar usuario</button>
            </div>
        </div>
    </form>
</div>
<%- include("../templates/pie")%>
